# SPDX-License-Identifier: MIT
---
name: manager

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test-ubuntu:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.9, '3.10', '3.11', '3.12', '3.13', '3.14']
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/test
        with:
          python-version: ${{ matrix.python-version }}

  test-macos:
    runs-on: macos-latest
    needs: test-ubuntu
    strategy:
      matrix:
        python-version: [3.9, '3.10', '3.11', '3.12', '3.13', '3.14']
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/test
        with:
          python-version: ${{ matrix.python-version }}

  test-windows:
    runs-on: windows-latest
    needs: test-macos
    strategy:
      matrix:
        python-version: [3.9, '3.10', '3.11', '3.12', '3.13', '3.14']
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/test
        with:
          python-version: ${{ matrix.python-version }}
