# SPDX-License-Identifier: MIT
---
name: CLA Assistant

on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened,closed,synchronize]

jobs:
  CLAssistant:
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: write
      pull-requests: write
      statuses: write
    steps:
      - name: CLA Assistant
        if: (github.event.comment.body == 'recheck' || github.event.comment.body == 'I have read the CLA Document and I hereby sign the CLA') || github.event_name == 'pull_request_target'
        uses: contributor-assistant/github-action@v2.6.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        with:
          path-to-document: 'https://github.com/bniladridas/manager/blob/main/CLA.md'
          remote-organization-name: 'bniladridas'
          remote-repository-name: 'manager'
          branch: ${{ github.head_ref }}
          allowlist: user1,bot*
          path-to-signatures: ./signatures/cla.json
          use-dco-flag: false
          lock-pullrequest-aftermerge: true
