# SPDX-License-Identifier: MIT
---
name: Misspell

on:
  pull_request:

jobs:
  misspell:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Check spelling
      uses: reviewdog/action-misspell@v1
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        locale: "US"
        reporter: github-pr-review
        level: error
